apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 8501
      targetPort: 8501
      nodePort: 30080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: frontend:1.0
          ports:
            - containerPort: 8501
          env:
            - name: AUTH_URL
              valueFrom:
                configMapKeyRef:
                  name: frontend-config
                  key: AUTH_URL
            - name: PRODUCTS_URL
              valueFrom:
                configMapKeyRef:
                  name: frontend-config
                  key: PRODUCTS_URL
